@model List<SneakerRockMVC.Models.Sneaker>

<div class="text-center">
    <h1 class="display-4">SNEAKER ROCK </h1>
    <br>
    <h3>Soles To Rock!!!</h3>
</div>
    <br>
<div>
    <p><a asp-controller="Collection" asp-action="Collection">Collection</a></p>
    <br>
    <p><a asp-controller="Brand" asp-action="Brand">Brand</a></p>
    <br>
    <h5>Brand Name</h5>
    <br>
    <h5>Style</h5>
    <br>
    <h5>Colorway</h5>
</div>